{% extends 'base.html' %}

{% block sty %}

{% endblock  %}

{% block content %}

<div class="container-fluid padding">
  <div class="row">
    <div class="col-md-12 padding">
      <form method="GET" action="{% url 'calculate' %}">
        <div class="form-group">
          <label for="exampleInputPrice">Loan price</label>
          <input type="text" class="form-control" name="price" id="exampleInputPrice" placeholder="Enter price">
        </div>
        <div class="form-group">
          <label for="exampleInputRate1">Interest rate</label>
          <input type="text" class="form-control" name="rate" id="exampleInputRate1" placeholder="Enter rate">
        </div>
        <div class="form-group">
          <label for="exampleInputYears1">Number of years</label>
          <input type="text" class="form-control" name="years" id="exampleInputYears1" placeholder="Enter years">
        </div>
        <button type="submit" class="btn btn-primary">Calculate</button>
        <p>Monthly mortgage: ${{ mortgage }}</p>
      </form>
    </div>
  </div>
</div>

{% endblock  %}