{% extends 'base.html' %}

{% block sty %}
.container-fluid{
    height: 500px;
}
.video{
    width: 100%;
    height: 400px;
    object-fit: contain;
}
{% endblock  %}

{% block content %}

<div class="container-fluid padding">
    <div class="row">
        <div class="padding col-md-12">
            <iframe class="video center" src="https://www.youtube.com/embed/YOnTjKuORfY" frameborder="0"
            allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
    </div>
</div>

{% endblock  %}