{% extends 'base.html' %}

{% block sty %}

{% endblock  %}


{% block content %}

<div class="container-fluid padding">
  <div class="row">
    <div class="padding col-md-12 text-center">
      <h3>Please choose from below</h3>
      <div class="row">
        <a class="col-md-6" href="tips" style="color: lime; font-size: 24px;"><h4>Saving tips</h4></a>
        <p></p>
        <a class="col-md-6" href="stocks" style="color: lime; font-size: 24px;"><h4>Investing with Machine learning</h4></a>
      </div>
    </div>
  </div>
</div>


{% endblock  %}