{% extends 'base.html' %}

{% block sty %}
.container-fluid{
background-color: rgba(0, 0, 0, 0.2);
}
{% endblock  %}


{% block content %}

<div class="container-fluid padding">
  <div class="row">
    <div class="padding col-md-12 text-center">
      <h3>Please choose from below</h3>
      <div class="row">
        <a class="col-md-6" href="tips" style="color: lime; font-size: 24px;">Saving tips</a>
        <p></p>
        <a class="col-md-6" href="stocks" style="color: lime; font-size: 24px;">Investing with Machine learning</a>
      </div>
    </div>
  </div>
</div>


{% endblock  %}