{% extends 'base.html' %}

{% block sty %}
.container - fluid{
background - color: rgba(0, 0, 0, 0.2);
}

.chart{
width: 100 %;
height: 400px;
fit - object: contain;
}

{% endblock %}

{% block script %}
<script type="text/javascript">
  var a = {{ ar }};
  for (var i = 0; i < 100; i++) {
    if (a[i][1] == 0) {
      a[i][1] = null;
    }
  }
</script>
<script type="text/javascript">
  var b = Html.raw({{ dat }})
</script>


<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<script type="text/javascript">
  google.charts.load('current', { packages: ['corechart', 'line'] });
  google.charts.setOnLoadCallback(drawBackgroundColor);

  function drawBackgroundColor() {
    var data = new google.visualization.DataTable();
    data.addColumn('number', 'X');
    data.addColumn('number', 'Prediction');
    data.addColumn('number', 'Actual');

    data.addRows(
      a
    );


    var options = {
      hAxis: {
        title: 'Days'
      },
      vAxis: {
        title: 'Price'
      },
      backgroundColor: '#f1f8e9'
    };

    var chart = new google.visualization.LineChart(document.getElementById('chart_div'));
    chart.draw(data, options);
  }
</script>

<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<script type="text/javascript">
  google.charts.load('current', { 'packages': ['corechart'] });
  google.charts.setOnLoadCallback(drawChart);

  function drawChart() {
    var data = google.visualization.arrayToDataTable([['0', 95.96, 100.01, 100.335, 104.06], ['1', 100.5, 101.01, 108.31, 109.08], ['2', 109.05, 110.76, 109.4, 113.48], ['3', 103.57, 111.24, 104.87, 111.6], ['4', 103.88, 104.76, 106.0, 108.0], ['5', 104.66, 104.95, 107.91, 107.95]], true);

    var options = {
      legend: 'none'
    };

    var chart = new google.visualization.CandlestickChart(document.getElementById('chart_div2'));

    chart.draw(data, options);
  }
</script>

{% endblock %}


{% block content %}
<div class="container-fluid padding">
  <div class="row">
    <div class="padding col-md-12 text-center">
      <h3>{{ choice }}: The Valid data is obtained form Machine Learning</h3>
      <div class="chart" id="chart_div"></div>
      <h4>
        The data plotted is of last 100 days and the prediction is for last 25 days.
      </h4>
      <h4>NOTE: This is not the prediction for next 25 days. It just a comparison between actual and prediction of last
        25 days</h4>
    </div>
  </div>
</div>
<div class="container-fluid padding">
  <div class="row">
    <div class="padding col-md-12 text-center">
      <div class="chart" id="chart_div2"></div>
    </div>
  </div>
</div>
{% endblock %}