{% extends 'base.html' %}

{% block sty %}

.row{

background-color: rgba(0,0,0, 0.8);
align-items: stretch;
display: flex;
flex-direction: row;
flex-wrap: nowrap;
overflow-x: auto;
overflow-y: hidden;

}

.card {

/*float: left;*/
background-color: rgba(0,0,0, 0);
max-width: 33.333%;
padding: .75rem;
margin-bottom: 2rem;
border: 0;
flex-basis: 33.333%;
flex-grow: 0;
flex-shrink: 0;

}

.card-img-top{
width: 100%;
height: 10vw;
object-fit: contain;
}

.card-text {

font-size: 85%;
color: white;
text-align: center;

}

{% endblock  %}


{% block content %}

<div class="conatiner">
  <div class="row">
    <h3 class="padding col-md-12" style="text-align: center;"> Please select one on the following stocks </h3>
  </div>
  <div class="row">
    <div class="card">
      <a href="stocks/MSFT">
        <img class='card-img-top' src="https://cdn.pixabay.com/photo/2013/02/12/09/07/microsoft-80660_960_720.png">
      </a>
      <p></p>
      <h1 class="card-text">Microsoft Price:</h1>
      <h4 class="card-text">{{ data }}</h4>
    </div>
    <div class="card">
      <a href="stocks/AAPL">
        <img class='card-img-top'
          src="https://upload.wikimedia.org/wikipedia/commons/thumb/f/fa/Apple_logo_black.svg/647px-Apple_logo_black.svg.png">
      </a>
      <p></p>
      <h1 class="card-text">Apple Price:</h1>
      <h4 class="card-text">{{ apple }}</h4>
    </div>
    <div class="card">
      <a href="stocks/GOOGL">
        <img class='card-img-top' src="https://cdn.pixabay.com/photo/2015/12/11/11/43/google-1088004_960_720.png">
      </a>
      <p></p>
      <h1 class="card-text">Google Price:</h1>
      <h4 class="card-text">{{ google }}</h4>

    </div>
    <div class="card">
      <a href="stocks/TSLA">
        <img class='card-img-top'
          src="https://upload.wikimedia.org/wikipedia/commons/thumb/b/bd/Tesla_Motors.svg/595px-Tesla_Motors.svg.png">
      </a>
      <p></p>
      <h1 class="card-text">Tesla Price:</h1>
      <h4 class="card-text">{{ tesla }}</h4>
    </div>
  </div>
</div>

{% endblock  %}